.about {
    background: url('../../img/about/about-bg.svg') 0 40% repeat-x;
    padding: 100px 0 200px;
    margin-bottom: 100px;
    & .container {
        display: flex;
        position: relative;
        gap: 70px;
        justify-content: space-between;
    }
    &_title {
        max-width: 450px;
        & p {
            margin-top: 35px;
            font-family: 'Artegra Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: $text-20;
            line-height: 30px;
            position: relative;
            z-index: 9;
        }
    }
    &_building-image {
        position: absolute;
        bottom: -150px;
        left: -100px;
    }
    &_blocks-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        gap: 25px;
    }
    &_block {
        padding: 25px 30px;
        flex: 1 1 280px;
        height: 280px;
        border-radius: 18px;
        background: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 1) 0%, rgba(30, 30, 30, .1) 100%, );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        &:nth-child(odd) {
            top: 45px;
        }
        & p {
            font-size: $text-20;
        }
        &::after {
            content: "";
            height: 65px;
            width: 65px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(3px);
            border-radius: 9px;
            position: absolute;
            left: 85px;
            top: 85px;
        }
    }
    &_num {
        font-family: 'Artegra Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $text-32;
        line-height: 28px;
        /* or 88% */
        color: $mainColor;
    }
}